RewriteEngine on 
RewriteCond %{HTTP_HOST} !^www\.sosniegorne\.pl$ [NC,OR]
RewriteCond %{HTTPS} off
RewriteRule ^ https://www.sosniegorne.pl%{REQUEST_URI} [R=301,L]


<IfModule mod_rewrite.c>

    RewriteEngine On
    RewriteBase /
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l
    RewriteRule . /index.html [L]


</IfModule>