@font-face {
  font-family: "Archivo";
  src: url("/fonts/archivo/archivo-latin-400-normal.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Archivo";
  src: url("/fonts/archivo/archivo-latin-500-normal.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Archivo";
  src: url("/fonts/archivo/archivo-latin-600-normal.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Archivo";
  src: url("/fonts/archivo/archivo-latin-700-normal.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Archivo";
  src: url("/fonts/archivo/archivo-latin-400-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Archivo";
  src: url("/fonts/archivo/archivo-latin-500-italic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Archivo";
  src: url("/fonts/archivo/archivo-latin-600-italic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Archivo";
  src: url("/fonts/archivo/archivo-latin-700-italic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* =========================================================
   BITTER — LOCAL
   ========================================================= */

@font-face {
  font-family: "Bitter";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("/fonts/bitter/bitter-latin-ext-400-normal.woff2") format("woff2");
  unicode-range:
    U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304,
    U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: "Bitter";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("/fonts/bitter/bitter-latin-400-normal.woff2") format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Bitter";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("/fonts/bitter/bitter-latin-ext-500-normal.woff2") format("woff2");
  unicode-range:
    U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304,
    U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: "Bitter";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("/fonts/bitter/bitter-latin-500-normal.woff2") format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Bitter";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url("/fonts/bitter/bitter-latin-ext-600-normal.woff2") format("woff2");
  unicode-range:
    U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304,
    U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: "Bitter";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url("/fonts/bitter/bitter-latin-600-normal.woff2") format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Bitter";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("/fonts/bitter/bitter-latin-ext-700-normal.woff2") format("woff2");
  unicode-range:
    U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304,
    U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: "Bitter";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("/fonts/bitter/bitter-latin-700-normal.woff2") format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Bitter";
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url("/fonts/bitter/bitter-latin-ext-800-normal.woff2") format("woff2");
  unicode-range:
    U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304,
    U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: "Bitter";
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url("/fonts/bitter/bitter-latin-800-normal.woff2") format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

/* =========================================================
   CORMORANT GARAMOND — LOCAL
   ========================================================= */

@font-face {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("/fonts/cormorant-garamond/cormorant-garamond-latin-ext-400-normal.woff2")
    format("woff2");
  unicode-range:
    U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304,
    U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("/fonts/cormorant-garamond/cormorant-garamond-latin-400-normal.woff2")
    format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("/fonts/cormorant-garamond/cormorant-garamond-latin-ext-500-normal.woff2")
    format("woff2");
  unicode-range:
    U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304,
    U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("/fonts/cormorant-garamond/cormorant-garamond-latin-500-normal.woff2")
    format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url("/fonts/cormorant-garamond/cormorant-garamond-latin-ext-600-normal.woff2")
    format("woff2");
  unicode-range:
    U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304,
    U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url("/fonts/cormorant-garamond/cormorant-garamond-latin-600-normal.woff2")
    format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("/fonts/cormorant-garamond/cormorant-garamond-latin-ext-700-normal.woff2")
    format("woff2");
  unicode-range:
    U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304,
    U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("/fonts/cormorant-garamond/cormorant-garamond-latin-700-normal.woff2")
    format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  transition:
    background-color 0.4s ease,
    color 0.4s ease;
}

.app {
  --appBgColor: #f2f2f2;
  --primaryColor: rgb(10, 10, 10);
  --secondaryColor0: #5d7488;
  /* --secondaryColor: #4c6275; */
  /* --secondaryColor: #0f2438; */
  --secondaryColor: #253a4d;
  --thirdColor: #eecf51;
  --thirdColor2: rgb(214, 186, 78);
  --headerTitleBg: #aeaeaeaa;
  --secondaryColor2: #245277;
  --secondaryColor3: #164973;
  --footerBgColor: #1d1d1d;
  --opinionBgColor: #253a4d;
  --navFont: "Bitter", sans-serif;
  --textFont: "Archivo", sans-serif;
  --titleFont: "Cormorant Garamond", serif;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--appBgColor);
  color: var(--primaryColor);
  font-family: var(--textFont);
  position: relative;
}

.mainPage {
  width: 82vw;
  min-height: 100vh;
  margin-left: 18vw;
  padding: 10vh 5vw 0;
  position: relative;
}

@media screen and (max-width: 800px) {
  .mainPage {
    width: 100vw;
    margin-left: 0vw;
    padding: 5vh 0vw;
  }
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title h2 {
  font-family: var(--titleFont);
  font-size: 2rem;
  font-weight: 600;
  color: var(--secondaryColor);
  text-transform: uppercase;
  letter-spacing: 5px;
}

.buttonLink {
  background: none;
  border: none;
  font-size: 4rem;
  cursor: pointer;
  color: var(--navbarBgColor);
  transition: 0.5s;
}

.buttonLink:hover {
  color: var(--secondaryColor);
}

.icon {
  color: var(--secondaryColor2);
  margin-right: 10px;
}

.cookieLink {
  margin-left: 10px;
  cursor: pointer;
  color: var(--activeNavLink);
}

.navHamburger {
  position: fixed;
  top: 0vh;
  left: 2vw;
  width: 10vh;
  height: 10vh;
  height: 10dvh;
  z-index: 999999;
  background: #fff;
  display: none;
  font-size: 2.5rem;
  border-radius: 0 0 5px 5px;
  justify-content: center;
  align-items: center;
  border: none;
  color: #222;
  transition: 0.5s;
}

.navHamburger2 {
  position: absolute;
  top: 1.5vh;
  left: 4vw;
  z-index: 999999;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
  border: none;
  color: #222;
  background: transparent;
  transition: 0.3s;
  cursor: pointer;
}

.black {
  background: #222;
  color: #fff;
  transition: 0.5s;
}

@media screen and (max-width: 800px) {
  .navHamburger,
  .navHamburger2 {
    display: flex;
  }
}

/* SCROOL BAR */

html::-webkit-scrollbar {
  width: 15px;
}

/* Track */
html::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
html::-webkit-scrollbar-thumb {
  background: #4c6275;
  border: 2px solid #f1f1f1;
  border-radius: 5px;
}

/* Handle on hover */
html::-webkit-scrollbar-thumb:hover {
  background: #386182;
}

/* COOKIE */

.cookieLink {
  margin-left: 10px;
  cursor: pointer;
  color: var(--thirdColor);
}

.cookieInfo p button {
  background: none;
  border: none;
  font-size: 18px;
  margin-left: 10px;
  color: var(--thirdColor);
  cursor: pointer;
  transition: 0.4s;
}

.cookieInfo p button:hover {
  color: #ffcc00;
}

.cookieInfo {
  display: flex;
  align-items: center;
}

.cookieIcon {
  margin-right: 3vw;
  font-size: 5rem;
  color: var(--thirdColor);
}

@media screen and (max-width: 800px) {
  .cookieInfo {
    flex-direction: column;
    text-align: center;
  }

  .cookieIcon {
    margin-right: 0vw;
    font-size: 4rem;
    margin-bottom: 4vh;
  }
}

/* @media screen and (max-width:900px) {
    body {
        display: none;
    }
} */

.none {
  transition: 1s;
  transform: translateY(-115vh);
  transform: translateY(-115dvh);
  /* transform: translateX(-25vw);
  transform: translateX(-25dvw); */
}

@media screen and (max-width: 800px) {
  .none {
    transform: translateY(0vh);
    transform: translateY(0dvh);
  }

  .mobileNone {
    display: none;
  }
}

/* AccessibilityWidget */
/* Kontrast wysokiego poziomu */
body.a11y-contrast *:not(.a11y-widget *):not(.a11y-widget) {
  background-color: #000 !important;
  color: #ffff00 !important;
}
body.a11y-contrast .mainImgContrast,
body.a11y-contrast img:not(.a11y-widget img),
body.a11y-contrast svg:not(.a11y-widget svg) {
  filter: saturate(0.2);
}

/* Duży tekst */
body.a11y-big-text nav *,
body.a11y-big-text span:not(.a11y-widget *),
body.a11y-big-text a:not(.a11y-widget *) {
  font-size: 105% !important;
}
body.a11y-big-text p:not(nav *) {
  font-size: 130% !important;
}
body.a11y-big-text h4:not(.a11y-widget *) {
  font-size: 120% !important;
}
body.a11y-big-text li:not(.a11y-widget *) {
  font-size: 120% !important;
}

/* Podświetlone linki */
body.a11y-links a:not(.a11y-widget *),
body.a11y-links button:not(.a11y-widget *),
body.a11y-links nav *:not(.a11y-widget *) {
  background-color: yellow !important;
  color: blue !important;
  font-weight: bold !important;
  padding: 2px 4px;
  border-radius: 4px;
}

/* Zatrzymanie animacji */
body.a11y-pause *,
body.a11y-pause *::before,
body.a11y-pause *::after {
  animation: none !important;
  transition: none !important;
}

/* Ukrycie obrazów */
body.a11y-hide-images img:not(.a11y-widget img),
body.a11y-hide-images picture:not(.a11y-widget picture),
body.a11y-hide-images svg:not(.a11y-widget svg) {
  display: none !important;
}

/* Czcionka przyjazna dla dyslektyków */

body.a11y-dyslexia * {
  --navFont: "OpenDyslexic", Arial, sans-serif !important;
  --textFont: "OpenDyslexic", Arial, sans-serif !important;
  --titleFont: "OpenDyslexic", Arial, sans-serif !important;
  font-family: "OpenDyslexic", Arial, sans-serif !important;
}

/* Większe odstępy między wierszami */
body.a11y-spacing p:not(.a11y-widget *),
body.a11y-spacing li:not(.a11y-widget *),
body.a11y-spacing div:not(.a11y-widget *),
body.a11y-spacing span:not(.a11y-widget *) {
  line-height: 2 !important;
}

/* Tryb nocny */

body.a11y-dark::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: brightness(0.7);
  pointer-events: none;
  z-index: 999999;
}

.activeWidget {
  background-color: var(--secondaryColor);
  color: white;
}
.activeWidget:hover {
  color: #222;
}
@media screen and (max-width: 800px) {
  .activeWidget:hover {
    background-color: var(--secondaryColor);
    color: white;
  }
}

/* domki.js */
